/* ------ menu -------- */
._search{
	background: red;
	color: white;
	height: 100%;
	width: 115px;
	border-radius: 0px 5px 5px 0px;
}
._search2{
	background: red;
	color: white;
	height: 100%;
	width: 35px;
	border-radius: 0px 5px 5px 0px;
}
.ip_search{
	border-color: red;
    border-radius: 5px 0px 0px 5px;
}
.header-search{
	font-size: 1.2rem;
	display: flex;
	/* đổ bóng */
	/* box-shadow: */
                /* 0 0 10px 4px #FF6347; */
                /* 0 0 10px 30px #FFDAB9, */
                /* 30px 0 20px 30px #B0E0E6; */
}
.viewed{
	display: flex;
}
.fa-caret-down{
	line-height: 32px;
	font-size: 18px;
}
.fa-bars{
	font-size: 32px;
	color: red;
}
.iconmenu{
	position: relative;
	-webkit-box-flex: 0;
	flex: 0px 0 42px;
}

@media (max-width: 1199px){
	.iconmenu{
	    display: none;
	}
	._search{
		display: none;
	}
	.ip_search{
		width: 245px;
	}
}
@media (min-width: 1199px){
	._search2{
		display: none;
	}
	.item-news .img{
		height: 170px;
	}
}

.fa-shopping-cart{
	font-size: 30px;
}
.header-crt{
	position: relative;
}
.number{
	position: absolute;
	left: 15px;
	top: 4px;
	font-size: 12px;
	background-color: #f5a623;
	color: white;
	border-radius: 10px;
	padding-left: 4px;
	text-align: center;
	padding-right: 4px;
}
.img-viewed{
	padding-left: 1px;
	padding-right: 1px;
	border-radius: 4px;
}
#a-viewed{
	width: 32px;
	padding: 0px;
}

.show_menu{
	top: 82px;
    position: absolute;
    background: white;
    width: 216px;
    font-family: sans-serif;
    display: none;
}
.show_{
	top: 62px;
}
.s_menu a{
	padding-left: 4px;
    padding-right: 10px;
}
.s_menu li{
	padding: 4px 0.2rem;
	position: relative;
}
.s_menu li li{
	
}
.s_menu ul ul{
	background: white;
	position: absolute;
	left: 217px;
    width: 216px;
    top: 0px;
    display: none;
}
.mau{
	background-color: red;
	padding-left: 4px;
}
.mau2{
	background-color: white;
}
.clmenu{
	line-height: 21px;
    float: right;
    font-size: 18px;

}
.list_viewed{
	display: none;
}

.screen_show{
	z-index: 3;
	position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.hide-viewed{
	display: none;
}
.show-viewed{
	z-index: 4;
	max-height: 146px;
	width: 100%;
	top: 151px;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	display: block;
	animation: show 0.8s ease;
	background-color: #fff;
}
.show-viewed_{
	top: 130px;
}
@media (max-width: 1199px){
	.viewed{
	    display: none;
	}
}
.slide-home{
	height: 200px;
	padding-bottom: 10px;
}

/* sản phẩm */
.tieude{
	width: 100%;
    padding: 0 15px 3px 15px;
}
.tieude_{
	width: 100%;
    display: flex;
    background-color: pink;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-family: initial;
    font-size: 20px;
}
._left{
	padding-left: 5px;
}
._right{
	padding-right: 5px;
}
.tieude_ .fa-caret-right {
    padding-left: 3px;
}
.logo{
	color: #317b21;
	font-size: 28px;
	font-weight: bold;
}
.item-news {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;

}
.item-news:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* details product */


.item-list-img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.item-list-img{
	height: 470px;
	width: 100%;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
}
.details{
	margin-top: 10px;
}

@media (max-width: 1199px){
	.item-list-img {
    	height: 420px;
	}
}

/* slide img show detail product */
.swiper-slide {
	background-size: cover;
	background-position: center;
}
.gallery-top {
  	height: 80%;
  	width: 100%;
  	margin-bottom: 3px;
}
.gallery-thumbs {
	height: 19.5%;
	box-sizing: border-box;
	padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
 	opacity: 1;
}
.show-img{
    width: 100%;
    height: 100%;
}
/* end slide */
.text-details-product{
	border-left: 1px solid #b7b7b7;
}
.text-link{
	font-size: 12px;
}
.text-link li{
	display: inline-block;
    white-space: nowrap;
}
.text-link a{
	display: inline-block;
    color: #646464;
}
.text-link li:before {
    content: ">";
    padding: 0 .6rem;
}
.name-details{
	border-bottom: 1px dotted #e8e8e8;
}
.name-product-details{
	padding-top: .3rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.discount-details{
	display: flex;
	align-items: center;
}
.price-details{
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	border-bottom: 1px dotted #e8e8e8;
}
.discountTag{
	display: inline-block;
    background-image: linear-gradient(90deg,#b9081d,#f21a4c);
    height: 1.7rem;
    line-height: 1.7rem;
    border-radius: 3px;
    margin-right: .6rem;
    padding-left: .6rem;
    padding-right: .6rem;
    color: #fff;
    font-size: 0.8rem;
}
.currentPrice{
	font-size: 1.3rem;
    color: #e5101d;
    margin-right: .6rem;
}
.oldPrice{
	/* font-size: 1.1rem; */
    color: #828282;
    font-style: italic;
    text-decoration: line-through;
    font-size: 1.3rem;
    font-style: normal;
}
.start-details{
	/* width: 100%;
	height: 50px; */
}
.checked {
  color: orange;
}
.transport-details{
	display: flex;
	padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px dotted #e8e8e8;
}
.transport-details-item1{
    font-weight: 500;
}
.transport-details-item2{
	padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-left: .3rem;
    color: #3f4b53;
}
.basic-information{
	padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px dotted #e8e8e8;
}
.coler-product{
	display: flex;
    align-items: center;
    margin-bottom: .6rem;
}
.item-information{
	font-weight: 500;
	display: inline-block;
    flex: 0 0 12rem;
    max-width: 6rem;
    padding-right: 1.2rem;
}
.colorOption{
	width: 4rem;
    height: 4rem;
    margin-bottom: .6rem;
    margin-right: .6rem;
    border-radius: 5px;
    border: .1rem solid #e8e8e8;
    background-repeat: no-repeat;
    background-position: 50%;
}
.colorOption-active{
	border-color: #e5101d;
}
.textOption{
	display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    min-width: 4rem;
    padding: 0 1.2rem;
    margin-right: .6rem;
    margin-bottom: .6rem;
    border: 0.1rem solid #e8e8e8;
    border-radius: 3px;
    background-color: #e9e9e9;
    text-transform: uppercase;
}
.size-product{
	display: flex;
    align-items: baseline;
    margin-bottom: .6rem;
}
.number-product{
	display: flex;
    align-items: center;
    margin-bottom: .6rem;
}
.qtyInput{
	display: flex;
    align-items: center;
    position: relative;
}
.btn_decrease{
	width: 1.6rem;
    height: 1.6rem;
    background-color: #c7c7cd;
    color: #fff;
    border-radius: 3px;
    font-size: 1.6rem;
    line-height: 1.6rem;
}
.disabled{
	opacity: .2;
}
.input_number{
	width: 3.6rem;
    height: 2rem;
    margin: 0 1.2rem;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    text-align: center;
}
.btn_increase{
	width: 1.6rem;
    height: 1.6rem;
    background-color: #c7c7cd;
    color: #fff;
    border-radius: 3px;
    font-size: 1.6rem;
    line-height: 1.6rem;
}
.group-item-button{
	display: flex;
    flex-wrap: wrap-reverse;
}
.btn-check-group{
	display: inline-flex;
    margin-bottom: 1.2rem;
}
.btn-addCart{
	background-color: #f7941d;
}
@media (min-width: 1024px){
	.btn-addCart{
    	min-width: 20rem;
	}
	.btn-addCart-item{
		border-radius: 3px;
	}
	.btn_buy{
		min-width: 20rem;
	}
	.btn_buy-item{
		border-radius: 3px;
	}
}
@media (max-width: 1199px){
	.btn-addCart-item{
	    border-radius: 4px;
	    padding-right: 10px;
	    padding-left: 10px;
	}
	.btn_buy{
		padding-right: 10px;
	    padding-left: 10px;
	    width: 150px;
	    border-radius: 4px;
	}
}
.btn-addCart-item{
	height: 2rem;
    color: #fff;
    background-color: #e5101d;
    font-weight: 500;
    font-size: 1rem;
}

.btn_buy-item{
	margin-left: 16px;
	height: 2rem;
    color: #fff;
    background-color: #e5101d;
    font-weight: 500;
    font-size: 1rem;
}
.size-active{
	border-color: red;
}